<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configXML>
    <email>
        <email>fmmcp@iscte-iul.pt</email>
        <password>BomDiaAcademia2018</password>
    </email>
    <facebook>
        <accessToken>EAAfRHvz32fIBAF5HZCw9OXgtd60Om2g1D87sOXECyF9zYZCTnjnzyixWMrN67ZCT5erA7apN3W8UbMPqcZBfujcyyeRza0lbU0JtNZCp6XaFUhN7sTZCzsMb0WZABE95jmhJHLpGYGuDMtVDbZBjA8y8KY3ex9ZBSy83Eaq4VkYZCdcKYt6LiOT4KtHkCbOFphmpzgXu2kddMyNwZDZD</accessToken>
        <password>a</password>
        <username>a</username>
    </facebook>
    <twitter>
        <accessToken>36481851-VhzByC4f9MSsZES1QZQ4e4iBvA9bWGLyv9HKFpy7c</accessToken>
        <accessTokenSecret>OahDuXF2Lhl5xlNYALhYZir6xSflAxKP9Zh89T05po</accessTokenSecret>
        <consumerKey>W1f0VvgWPfT8OBqVxvy4Mw</consumerKey>
        <consumerKeySecret>zKH2yAtRyefwsgOO8h8Szc4kru68iEm95QmIG7svw</consumerKeySecret>
        <twitterpass>a</twitterpass>
        <username>a</username>
    </twitter>
</configXML>
